{{> navigation }}
<div class="products-container">
    {{#each prods}}
    <div class="product-card">
        <div class="product-info">
            <p>{{name}}</p>
        </div>
        <div class="img-product">
            <img src="{{imagePath}}" alt="product image">
        </div>
        <div class="product-info">
            <p>{{price}}</p>
        </div>
        <div class="product-buttons">
            <a href="/product-details/{{_id}}" class="product-btn link-btn">Details</a>
            <form action="/cart" method="post">
                <button type="submit" class="product-btn">Add to Cart</button>
                <input type="hidden" name="cartProduct" value="{{_id}}">
            </form>
        </div>
    </div>
    {{/each}}

</div>

{{> pagination}}