<div class="products-container">
    {{#each prods}}
    <div class="product-card">
        <div class="product-info">
            <p>{{name}}</p>
        </div>
        <div class="img-product">
            <img src="/{{imagePath}}" alt="product image">
        </div>
        <div class="product-info">
            <p>{{price}}</p>
        </div>
        <div class="product-buttons">
            <a href="/admin/edit-product/{{_id}}" class="product-btn link-btn">Edit</a>
            <form action="/admin/delete" method="post">
                <button class="product-btn" type="submit">Delete</button>
                <input type="hidden" name="productId" value="{{_id}}">
            </form>
        </div>

    </div>
    {{/each}}

</div>